{% extends 'base.html' %}

{% block title%} About {% endblock title%}

{% block body %}

<div class="about-section">
    <h1>About Us</h1>
    <p>State Bank of India (SBI) a Fortune 500 company, is an Indian Multinational, Public Sector Banking and Financial services statutory body headquartered in Mumbai. The rich heritage and legacy of over 200 years, accredits SBI as the most trusted Bank by Indians through generations.<br><br>

        SBI, the largest Indian Bank with 1/4th market share, serves over 45 crore customers through its vast network of over 22,000 branches, 62617 ATMs/ADWMs, 71,968 BC outlets, with an undeterred focus on innovation, and customer centricity, which stems from the core values of the Bank - Service, Transparency, Ethics, Politeness and Sustainability.<br><br>

        
        The Bank has successfully diversified businesses through its various subsidiaries i.e SBI General Insurance, SBI Life Insurance, SBI Mutual Fund, SBI Card, etc. It has spread its presence globally and operates across time zones through 229 offices in 31 foreign countries.<br><br>
        
        Growing with times, SBI continues to redefine banking in India, as it aims to offer responsible and sustainable Banking solutions...</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <p class="title">Team </p>
          <p>Anuja Agare :+91 91123 10932<br>
             Mayur Dadas:+91 8104716328<br>
             Swati Dudhande:+91 74981 29987<br>
          </p>
          <p>sbi@transaction.com</p>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
